<header>
    <div class="header-container">
        <div class="logo">
            <a id="page-title" href="../index.html">Pandorasbox</a>
        </div>
        <nav class="navigation">
            <a class="navLink" href="movies.html">Movies</a>
            <a class="navLink" href="games.html">Games</a>
            <a class="navLink" href="albums.html">Albums</a>
            <div class="dropdown">
                <a class="navLink profile-link" href="profile.html">Profile</a>
                <div class="dropdown-content">
                    <a href="user-movies.html">User Movies</a>
                    <a href="user-games.html">User Games</a>
                    <a href="user-albums.html">User Albums</a>
                </div>
            </div>
        </nav>
    </div>
</header>