/* Fondo oscuro para bloquear el contenido excepto el header */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1); /* Fondo oscuro semitransparente */
    z-index: 998; /* Debajo del modal pero encima del contenido */
    display: none; /* Oculto por defecto */
}

/* Mostrar el fondo oscuro cuando el modal esté activo */
.modal-overlay.active {
    display: block;
}

/* Excluir el header del fondo oscuro */
header {
    position: relative;
    z-index: 1000; /* Asegura que esté encima del fondo oscuro */
}

/* Estilos generales para el modal */
#authModal {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
}

#authModal.show {
    display: flex;
}

/* Contenido del modal */
#authModal .modal-content {
    background-color: #1f1f1f;
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 8px 30px var(--brand-color);
    border: 1px solid var(--brand-color);
    animation: slideIn 0.6s ease-in-out;
    text-align: center;
}

/* Título del modal */
#authModal h2 {
    color: var(--brand-color);
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Contenedor de los campos */
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-group i {
    color: var(--brand-color);
    font-size: 18px;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.input-group input {
    flex: 1;
    padding: 12px;
    border: 1px solid var(--brand-color);
    border-radius: 8px;
    background-color: #2a2d2b;
    color: white;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.1s ease;
}

.input-group input:focus {
    border-color: var(--hover-brand-color);
    box-shadow: 0 0 8px var(--hover-brand-color);
    outline: none;
}

.input-group:focus-within i {
    color: var(--hover-brand-color);
}

/* Botones */
#authModal button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
}

#authActionBtn {
    background-color: var(--brand-color);
    color: #141716;
    margin-bottom: 10px;
}

#toggleAuthMode {
    background-color: transparent;
    color: var(--brand-color);
    border: 1px solid var(--brand-color);
}

#authActionBtn:hover {
    background-color: var(--hover-brand-color);
}

#toggleAuthMode:hover {
    background-color: var(--background-brand-color);
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}