/* Archivo profile.css */
main {
    margin: 70px;
    color: var(--text-color);
}

#profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    border: 3px solid var(--text-color);
    object-fit: cover; /* Asegura que la imagen se ajuste correctamente dentro del círculo */
}

.profile-picture {
    flex-shrink: 0; /* Evita que la imagen se reduzca */
}

.profile-header {
    display: flex; /* Alinea los elementos en una fila */
    align-items: center; /* Centra verticalmente los elementos */
    gap: 80px; /* Espacio entre la foto y la información */
}

#user-info {
    display: flex;
    flex-direction: column; /* Alinea el texto en columna */
    justify-content: center; /* Centra verticalmente el contenido */
    font-size: 30px;
}

#username-display{
    font-size: 70px;
    font-weight: bold;
    margin-top: 5px;
}

#email-display{
    margin-top: 5px;
}