/* Configuración general */
html, body {
  height: 100%; /* Asegura que ocupen toda la altura de la ventana */
  display: flex;
  flex-direction: column; /* Estructura en columna */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Kanit", sans-serif;
}

/* Estilo del encabezado */
header {
  background-color: #3be39a;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Contenido principal */
main {
  flex: 1; /* Toma toodo el espacio disponible entre el header y el footer */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#page-title {
  text-decoration: none;
  color: white;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.2s ease;
  padding-left: 15px;
}

#page-title:hover {
  color: #1c1e1d;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0 25px 0 25px;
  padding: 30px 0 30px 0; /* Aumenta el área interactiva */
  transition: color 0.2s ease;
}

.navigation a:hover {
  color: #141716;
}

/* Profile sin estar logueado */
#temporalDropdown{
  position: relative;
  display: inline-block;
  padding: 10px; /* Aumenta el área interactiva */
}

/* Ocultar el contenido del dropdown por defecto */
.dropdown-content {
  display: none;
}

/* Mostrar el contenido del dropdown solo si el usuario está logueado */
.dropdown.logged-in .dropdown-content {
  display: block;
}

/* Contenido del dropdown oculto */
.dropdown-content {
  display: block;
  position: absolute;
  background-color: #0f0f0f;
  min-width: 140px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-align: left;
  top: 140%;
  left: 50%;
  transform: translateX(-50%) translateY(-10px); /* Posición inicial */
  opacity: 0; /* Oculto inicialmente */
  pointer-events: none; /* Evita interacción cuando está oculto */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transición suave */
  z-index: 1000;
}

/* Estilo de los enlaces dentro del dropdown */
.dropdown-content a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: background 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #3be39a;
  color: #141716;
}

#logoutBtn:hover {
  background-color: red;
  color: #141716;
}

/* Estilo del pico */
.dropdown::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #0f0f0f transparent transparent transparent;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Mostrar el dropdown y el pico al pasar el mouse */
.dropdown:hover .dropdown-content {
  opacity: 1; /* Visible */
  transform: translateX(-50%) translateY(0); /* Posición final */
  pointer-events: auto; /* Permite interacción */
}

.dropdown:hover::after {
  opacity: 1;
  transform: translateY(0);
}

#settings i {
  font-size: 25px;
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}

#settings i:hover {
  color: #141716;
  transform: rotate(-45deg); /* Gira el ícono 20 grados */
}


/* Footer */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #0f0f0f;
  color: #aaaaaa;
  font-size: 14px;
  margin-top: 20px;
}
