/* Configuración general */
body {
    background-color: #141716;
    font-family: 'Montserrat', 'Kanit', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

/* Estilo del encabezado */
header {
    background-color: #3be39a;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#page-title{
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.2s ease;
    padding-left: 15px;
}

#page-title:hover {
    color: #141716;
}

.navLink {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
    transition: color 0.2s ease;
}

.navigation a:hover {
    color: #141716;
}


/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #0f0f0f;
    color: #aaaaaa;
    font-size: 14px;
    margin-top: 20px;
}
